%nav.clearfix.white.bg-black
  .col-8.mx-auto
    .sm-col
      %a.button.py2.button-transparent{:href => "/"} Home
      %a.button.py2.button-transparent{:href => "#"} Tacos
      %a.button.py2.button-transparent{:href => "#"} Enchiladas
    .sm-col-right
      %a.button.py2.button-transparent{:href => "./about"} About
